<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Generator</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
</head>

<body class="fldc">

    </div>
    <h1>Secure Me</h1>
    <div class="formContainer ">
        <h5>Password Generator</h5>
        <div class="formGroup">
            <div class="inputGroup">
                <label for="length">Password Length:
                    <input type="number" name="" value="8" min="6" max="30" id="length">
                </label>
            </div>
            <div class="inputGroup ">
                <label for="addWord">Add Word:</label>
                <input type="text" name="addWord" id="addWord" placeholder="(e.g chair,table,cuision)">
            </div>
            <div class="inputGroup ">
                <label class="inputCheck" for="include_uppercase">
                    Include Uppercase:
                </label>
                <input type="checkbox" class="checkBox" id="include_uppercase" checked>
                <span>(e.g. ABCDEFGH)</span>


            </div>
            <div class="inputGroup">
                <label class="inputCheck" for="include_lowercase">
                    Include Lowercase: </label> <input type="checkbox" class="checkBox" id="include_lowercase" checked>
                <span>(e.g. abcdefgh)</span>
            </div>
            <div class="inputGroup">
                <label class="inputCheck" for="include_numbers">
                    Include Numbers: </label>
                <input type="checkbox" class="checkBox" id="include_numbers" checked>
                <span>(e.g. 01234567)</span>
            </div>

            <div class="inputGroup">
                <label class="inputCheck" for="include_special_characters">Include Characters</label>
                <input type="checkbox" class="checkBox" id="include_special_characters" checked>
                <span>(e.g. !@#$%^&*()+-)</span>
            </div>
            <div class="inputGroup">
                <label class="inputCheck" for="include_ambiguous_characters">Include Ambiguous Characters:</label>
                <input type="checkbox" class="checkBox" id="include_ambiguous_characters">
                <span> (e.g., '1', 'l', '0', 'O')</span>
            </div>
        </div>

        <div class="generatedPassword">
            <input type="text" readonly id="generatedPasswordID" placeholder="Your Generated Password">
            <div id="strengthBarContainer">
                <div id="strengthBar"></div>
            </div>
        </div>

        <div class="buttons dfAc">
            <button type="button" onClick="copyPassword()">Copy to Clipboard</button>
            <button type="button" id="generate">Generate Password
            </button>
        </div>
    </div>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>

    <script>
        document.getElementById("strengthBarContainer").style.display = "none"
        const generatePassword = async () => {
            // Getting the values to be posted and used in the generation of the password
            const length = document.getElementById('length').value;
            const include_uppercase = document.getElementById('include_uppercase').checked;
            const include_lowercase = document.getElementById('include_lowercase').checked;
            const include_numbers = document.getElementById('include_numbers').checked;
            const include_special_characters = document.getElementById('include_special_characters').checked;
            const include_ambiguous_characters = document.getElementById('include_ambiguous_characters').checked;
            const include_added_words = document.getElementById('addWord').value.split(',').map(w => w.trim());
            // Creating the post request 
            const res = await fetch('/generate-password', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({ length, include_uppercase, include_lowercase, include_numbers, include_special_characters, include_ambiguous_characters, include_added_words })
            })

            const data = await res.json();
            if (res.status !== 200) {
                Toastify({
                    text: data?.error || "An error occured",
                    className: "error", duration: 4000,
                    gravity: "bottom",
                    position: "right",
                }).showToast();
            } else {
                document.getElementById("generatedPasswordID").value = data?.password;

                document.getElementById("strengthBarContainer").style.display = "block";
                const strengthBar = document.getElementById("strengthBar");
                // styling the strength bar based on the strength of the password
                if (data.strength === "Weak") {
                    strengthBar.style.width = "40%";
                    strengthBar.style.background = "red";
                } else if (data.strength === "Medium") {
                    strengthBar.style.width = "70%";
                    strengthBar.style.background = "yellow";
                } else {
                    strengthBar.style.width = "100%";
                    strengthBar.style.background = "green";
                }
            }
        }

        document.getElementById('generate').addEventListener('click', generatePassword);
        //   the copy function
        function copyPassword() {
            const copyPasswordText = document.getElementById("generatedPasswordID");
            copyPasswordText.select();
            navigator.clipboard.writeText(copyPasswordText.value)
            if (!copyPasswordText.value == "") {
                Toastify({
                    text: `${copyPasswordText.value} has been copied`,
                    className: "info", duration: 4000,
                    gravity: "bottom",
                    position: "right",
                }).showToast();
            }
            else {
                Toastify({
                    text: `Nothing to be copied`,
                    className: "info", duration: 4000,
                    gravity: "bottom",
                    position: "right",
                }).showToast();
            }
        }
    </script>
</body>

</html>